<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.dClassMapper">

    <resultMap type="dClass" id="dClassResult">
        <result property="id" column="id"/>
        <result property="classId" column="class_id"/>
        <result property="className" column="class_name"/>
        <result property="classGrade" column="class_grade"/>
        <result property="classTeacher" column="class_teacher"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectdClassVo">
        select id,
               class_id,
               class_name,
               class_grade,
               class_teacher,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from dclass
    </sql>

    <select id="selectdClassList" parameterType="dClass" resultMap="dClassResult">
        <include refid="selectdClassVo"/>
        <where>
            <if test="classId != null  and classId != ''">and class_id = #{classId}</if>
            <if test="className != null  and className != ''">and class_name like concat('%', #{className}, '%')</if>
            <if test="classGrade != null  and classGrade != ''">and class_grade = #{classGrade}</if>
            <if test="classTeacher != null  and classTeacher != ''">and class_teacher like concat('%', #{classTeacher},'%')
            </if>
        </where>
    </select>

    <select id="selectdClassById" parameterType="String" resultMap="dClassResult">
        <include refid="selectdClassVo"/>
        where id = #{id}
    </select>

    <insert id="insertdClass" parameterType="dClass">
        insert into dclass
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="classId != null and classId != ''">class_id,</if>
            <if test="className != null and className != ''">class_name,</if>
            <if test="classGrade != null and classGrade != ''">class_grade,</if>
            <if test="classTeacher != null">class_teacher,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="classId != null and classId != ''">#{classId},</if>
            <if test="className != null and className != ''">#{className},</if>
            <if test="classGrade != null and classGrade != ''">#{classGrade},</if>
            <if test="classTeacher != null">#{classTeacher},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updatedClass" parameterType="dClass">
        update dclass
        <trim prefix="SET" suffixOverrides=",">
            <if test="classId != null and classId != ''">class_id = #{classId},</if>
            <if test="className != null and className != ''">class_name = #{className},</if>
            <if test="classGrade != null and classGrade != ''">class_grade = #{classGrade},</if>
            <if test="classTeacher != null">class_teacher = #{classTeacher},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletedClassById" parameterType="String">
        delete
        from dclass
        where id = #{id}
    </delete>

    <delete id="deletedClassByIds" parameterType="String">
        delete from dclass where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>